@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ECFBEC;
}

@media only screen and (max-width: 600px) {
  .app-section {
    display: flex;
    flex-direction: column;
    gap: 20rem ;
  }
}